.vscode/**
.vscode-test/**
out-test/**
src/**
docker/**
node_modules/**
.gitignore
esbuild.mjs
tsconfig*.json
**/*.map
**/*.ts
.mocharc.json
dist/**
README.md.bak
LOCAL.md
*.local.md
PUBLISHING.md
docker/publish.sh
